// Mixin tổng quát cho Margin và Padding
@mixin spacing($property, $value) {
  #{$property}: $value;
}

@mixin margin($value) {
  margin: $value;
  margin-top: $value;
  margin-right: $value;
  margin-bottom: $value;
  margin-left: $value;
}

@mixin padding($value) {
  padding: $value;
  padding-top: $value;
  padding-right: $value;
  padding-bottom: $value;
  padding-left: $value;
}

// Hàm tạo class từ tên thuộc tính và giá trị
@function create-class($property, $value) {
  @return ".#{$property}-#{$value}";
}

// Tạo các lớp tiện ích margin và padding từ các giá trị
@for $i from 0 through 20 {

  // Margin (sử dụng $i * 4px)
  #{create-class('m', $i)} {
    @include spacing(margin, $i * 4px); // margin: 4px, 8px, 12px, ...
  }

  #{create-class('mt', $i)} {
    @include spacing(margin-top, $i * 4px); // margin-top: 4px, 8px, 12px, ...
  }

  #{create-class('mb', $i)} {
    @include spacing(margin-bottom, $i * 4px); // margin-bottom: 4px, 8px, 12px, ...
  }

  #{create-class('ml', $i)} {
    @include spacing(margin-left, $i * 4px); // margin-left: 4px, 8px, 12px, ...
  }

  #{create-class('mr', $i)} {
    @include spacing(margin-right, $i * 4px); // margin-right: 4px, 8px, 12px, ...
  }

  // Padding (sử dụng $i * 4px)
  #{create-class('p', $i)} {
    @include spacing(padding, $i * 4px); // padding: 4px, 8px, 12px, ...
  }

  #{create-class('pt', $i)} {
    @include spacing(padding-top, $i * 4px); // padding-top: 4px, 8px, 12px, ...
  }

  #{create-class('pb', $i)} {
    @include spacing(padding-bottom, $i * 4px); // padding-bottom: 4px, 8px, 12px, ...
  }

  #{create-class('pl', $i)} {
    @include spacing(padding-left, $i * 4px); // padding-left: 4px, 8px, 12px, ...
  }

  #{create-class('pr', $i)} {
    @include spacing(padding-right, $i * 4px); // padding-right: 4px, 8px, 12px, ...
  }
}

@mixin text-ellipsis($lines: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}